<html class="html">
  <head>
    <title> Pokemon CS480 </title>
  </head>
  <body class="background">
    <h1 class="h1">
      <img class="logo" src="../assets/pokemonLogo.png" width=300px heigh=auto>
    </h1>
    <h2 class="h2">Please select 2 Pokemon</h2>
    <div>
      <input class="text1" type="text" (keyup)="getInput($event)" id="input" list="dynmicUserIds" />
      <datalist id="dynmicUserIds">
      <option *ngFor="let item of list" [value]="item">{{item}}</option>
      </datalist>
      <input class="text2" type="text" (keyup)="getInput($event)" id="input2" list="dynmicUserIds" />
      <datalist id="dynmicUserIds">
      <option *ngFor="let item of list" [value]="item">{{item}}</option>
      </datalist>
    </div>
    <div *ngIf="victor.length>0">
      <p class="p">{{victor}} is the winner!</p>
    </div>
    <div>
      <div class="poke1">
        <img class="animated-gif" id="poke1">
        <table class="t1" id="tabla">
          <tbody *ngFor="let item of stat1">
              <tr class="tr"><th class="tr">Type1:</th><td class="td">{{item?.type1}}</td></tr>
              <tr class="tr"><th class="tr">Type2:</th><td class="td">{{item?.type2}}</td></tr>
              <tr class="tr"><th class="tr">HP:</th><td class="td">{{item?.hp}}</td></tr>
              <tr class="tr"><th class="tr">Attack:</th><td class="td">{{item?.attack}}</td></tr>
              <tr class="tr"><th class="tr">Defense:</th><td class="td">{{item?.defense}}</td></tr>
              <tr class="tr"><th class="tr">Speed:</th><td class="td">{{item?.speed}}</td></tr>
              <tr class="tr"><th class="tr">Special:</th><td class="td">{{item?.special}}</td></tr>
            </tbody>
        </table>
      </div>
      <div class="poke2">
        <img class="animated-gif" id="poke2">
        <table class="t2" id="tablb">
          <tbody *ngFor="let item of stat2">
            <tr class="tr"><th class="tr">Type1:</th><td class="td">{{item?.type1}}</td></tr>
            <tr class="tr"><th class="tr">Type2:</th><td class="td">{{item?.type2}}</td></tr>
            <tr class="tr"><th class="tr">HP:</th><td class="td">{{item?.hp}}</td></tr>
            <tr class="tr"><th class="tr">Attack:</th><td class="td">{{item?.attack}}</td></tr>
            <tr class="tr"><th class="tr">Defense:</th><td class="td">{{item?.defense}}</td></tr>
            <tr class="tr"><th class="tr">Speed:</th><td class="td">{{item?.speed}}</td></tr>
            <tr class="tr"><th class="tr">Special:</th><td class="td">{{item?.special}}</td></tr>
          </tbody>
      </table>
      </div>
    </div>
  </body>
</html>
